<h1>Your order</h1>

<p>
  <strong>name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>info:</strong>
  <%= @order.info %>
</p>
<p>
  <strong>price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @order_spec.quantity %>
</p>
