<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Info</th>
      <th>Price</th>
      <th>Quantitity</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>@product.product</td>
        <td>@product.info</td>
        <td>@product.price</td>
        <td>@product.quantity</td>
      </tr>
  </tbody>
</table>